.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
  display: inline-block;
}

#shopping-cart {
  margin-left: 95%;
}

li {
  list-style: none;
}