.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.App-title {
  font-size: 2em;
}

#shopping-cart {
  margin-bottom: 20px;
  font-size: 2em;
}

.two {
  display: flex;
  flex-direction: column-reverse;
}

li {
  list-style: none;
}